/RemoteCtrl/x64/Debug
/RemoteCtrl/RemoteClient/x64/Debug
/RemoteCtrl/RemoteCtrl/x64/Debug
/RemoteCtrl/.vs/RemoteCtrl/v17/Solution.VC.db-wal
/RemoteCtrl/.vs/RemoteCtrl/v17/Solution.VC.db-shm
/RemoteCtrl/.vs/RemoteCtrl/v17/Solution.VC.db
/RemoteCtrl/.vs/RemoteCtrl/v17/ipch/1ddfb48d78d2222e.ipch
/RemoteCtrl/.vs/RemoteCtrl/v17/fileList.bin
/RemoteCtrl/.vs/RemoteCtrl/v17/Browse.VC.opendb
/RemoteCtrl/.vs/RemoteCtrl/v17/Browse.VC.db-wal
/RemoteCtrl/.vs/RemoteCtrl/v17/Browse.VC.db-shm
/RemoteCtrl/.vs/RemoteCtrl/v17/Browse.VC.db
/RemoteCtrl/.vs/RemoteCtrl/v17/.suo
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/read.lock
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/eae89453-9d86-49f5-a82f-329374b07138.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/96334b1d-6a4e-480f-87c6-72be0d6b945d.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/7faff534-a933-4e60-a513-21ccd1f96d60.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/6c51fd31-f4ed-4a42-9c0a-35b3900bd2bc.vsidx
