/RemoteCtrl/x64/Debug
/RemoteCtrl/RemoteClient/x64/Debug
/RemoteCtrl/RemoteCtrl/x64/Debug
/RemoteCtrl/.vs/RemoteCtrl/v17/Solution.VC.db-wal
/RemoteCtrl/.vs/RemoteCtrl/v17/Solution.VC.db-shm
/RemoteCtrl/.vs/RemoteCtrl/v17/Solution.VC.db
/RemoteCtrl/.vs/RemoteCtrl/v17/ipch/1ddfb48d78d2222e.ipch
/RemoteCtrl/.vs/RemoteCtrl/v17/fileList.bin
/RemoteCtrl/.vs/RemoteCtrl/v17/Browse.VC.opendb
/RemoteCtrl/.vs/RemoteCtrl/v17/Browse.VC.db-wal
/RemoteCtrl/.vs/RemoteCtrl/v17/Browse.VC.db-shm
/RemoteCtrl/.vs/RemoteCtrl/v17/Browse.VC.db
/RemoteCtrl/.vs/RemoteCtrl/v17/.suo
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/read.lock
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/eae89453-9d86-49f5-a82f-329374b07138.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/96334b1d-6a4e-480f-87c6-72be0d6b945d.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/7faff534-a933-4e60-a513-21ccd1f96d60.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/6c51fd31-f4ed-4a42-9c0a-35b3900bd2bc.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/ed09c83b-123e-45c4-ba2b-b81fef08d069.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/80ef2266-5622-49e1-847d-e2dcae996e18.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/5ec405a2-3c54-4fa0-a7bd-e0a5293e9052.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/4298776c-44c1-4aab-a5c8-e8a55c8d4b52.vsidx
/RemoteCtrl/.vs/RemoteCtrl/v17/ipch/e9a38ce34c45f5d0.ipch
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/f8b20864-2d41-44ce-8619-2423ad4d898b.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/e981accf-fe04-4f94-baa8-3fef0edbc9cb.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/c6532f91-e216-4285-9c27-abfa65591df8.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/6abb1b3f-414e-4b90-b7b2-303bb91325ea.vsidx
/RemoteCtrl/.vs/RemoteCtrl/v17/ipch/AutoPCH/4f24c206042586ba/CMDTARG.ipch
/RemoteCtrl/.vs/RemoteCtrl/v17/ipch/AutoPCH/3fef671522f81ed9/CMDTARG.ipch
/RemoteCtrl/.vs/RemoteCtrl/v17/ipch/AutoPCH/16725f8023459951/CMDTARG.ipch
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/ba6ad047-ae10-4ca9-b51c-dd05e6a8c039.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/9d82f741-0c44-417e-9f07-6c5b62d9db82.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/9be07dd3-1b3a-4373-b796-d4e56b1f4493.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/4cf2f81a-0fa2-4c82-b3b3-1df8762713a6.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/27d5c661-37fc-4f70-b058-3c45a89dc7a2.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/729fc388-d3bf-4814-b120-577db8578c6e.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/792c5e73-cc2a-4e54-acc9-7a8958238804.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/5ae7c614-d04c-49d0-a5d8-a4e10c5d0e42.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/76652ad8-19e3-44c8-98ce-666ab6ecb106.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/ab34195f-bdbf-469c-85f8-1d763cc69c3d.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/ce17d870-2582-458a-b5bc-961cb5391189.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/f5767035-f6cf-4bf3-af6f-f1c529896797.vsidx
/RemoteCtrl/.vs/RemoteCtrl/v17/ipch/AutoPCH/3cf3aff9af80bf64/WINCORE.ipch
/RemoteCtrl/.vs/RemoteCtrl/v17/ipch/AutoPCH/e510a93c8bf31bf8/THRDCORE.ipch
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/032f1b18-43fb-4698-9f17-f72176fbc10a.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/a5144a75-7e49-4faf-aa2e-1210878901fa.vsidx
/RemoteCtrl/.vs/RemoteCtrl/v17/ipch/AutoPCH/8dbcab4b078f6dbb/THRDCORE.ipch
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/5cc8897a-3d28-4c22-b855-e5aa24098489.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/f2fea949-6443-457f-be4d-2cc972d91bce.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/51d7539b-a472-4ccb-a0d1-4da1b7882957.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/c6139b5b-e195-4449-91d8-f78b1b897fbc.vsidx
